<div class="email-box">

	<h1>For more information or to purchase a print, email here:</h1>

	<form class="email-form" action="/contact" method="post">
		<input type="text" name="email" placeholder="Enter your email here">
		<input type="text" name="subject" placeholder="Enter subject here">
		<textarea class="textarea" type="text" name="text" placeholder="Write your message here."></textarea>
  	<input class="submit" type="submit">
	</form>
</div>
<script type="text/javascript" src="/js/escroll.js"></script>
