<div class="gallery-container">
  <div class="pic one" alt="baby elephant"></div>
  <div class="pic two"></div>
  <div class="pic three"></div>
  <div class="pic four"></div>
  <div class="pic five"></div>
  <div class="pic six"></div>
  <div class="pic seven"></div>
  <div class="pic eight"></div>
  <div class="pic nine"></div>
  <div class="pic ten"></div>
  <div class="pic eleven"></div>
  <div class="pic twelve"></div>
</div>

<div class="photo-modal">
  <span class="close-modal">x</span>
  <div class="modal-content">
    <div class="caption"></div>
  </div>
</div>
